main {
    max-width: 1600px;
    width: 100%;
    margin: auto;
}

body {
    background-image:url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.card-img-top {
    max-width: 80%;
}

.img-me {
    border-radius: 30%;
}

.card-edj {
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}
.card-about {
    padding: 2%;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}
.img-woman {
    border-radius: 50%;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}

.footer__links {
    width: 100px;
}
i {
    padding: 3%;
}

.fa-cat {
    font-size: 30rem;
}
.webpage {
    margin: 2%;
    padding: 1%;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    a {
        color: gray;
    }
}
.who-am-I {
    overflow: auto;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}

footer {
    margin-top: 3%;
}

@media screen and (max-width:1400px) {
    .fa-cat {
        font-size: 25rem;
    }
}

@media screen and (max-width:1200px) {
    .fa-cat {
        font-size: 20rem;
    }
}

@media screen and (max-width:992px) {
    .fa-cat {
        font-size: 15rem;
    }
}

@media screen and (max-width:768px) {
    .fa-cat {
        font-size: 10rem;
    }
}

@media screen and (max-width:576px) {
    .fa-cat {
        font-size: 25rem;
    }
}